@*@model IEnumerable<WebRaoVat.Models.BaiDang>*@
@*@using WebRaoVat.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<BaiDang>*@



@*<div class="MenuPage">
    @Html.PagedListPager(Model, page => Url.Action("QuanLyBaiDang", new { page = page }))
</div>*@